<nav>
	<ul class="pagination">
  		<li class="page-item"><a class="page-link" href="<%= paginationLinks["first"] %>">First Page </a></li>
  		<li class="page-item"><a class="page-link" href="<%= paginationLinks["last"] %>">Last Page</a></li>
	</ul>
	<ul class="pagination">
   		<li class="page-item">
   			<a class="page-link" href="<%= paginationLinks["prev"] %>"> 
   			        <span aria-hidden="true">&laquo;</span>
        			<span class="sr-only">Previous</span>
        			Previous
    		</a>
    	</li>
    	<li class="page-item">
    		<a class="page-link" href="<%= paginationLinks["next"] %>">Next
    	        <span aria-hidden="true">&raquo;</span>
        		<span class="sr-only">Next</span>
        	</a>
        </li>
	</ul>
</nav>