<% include partials/header %>  


<form action="./github" method="POST" class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Please type in a keyword</h1>
  <label for="Repository" class="sr-only">Repository</label>
  <input type="text" name="name" id="Repository" class="form-control" placeholder="Repository name" autofocus="">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Search!</button>
  <p class="mt-5 mb-3 text-muted">© 2018</p>
</form>



<% include partials/footer %>  