<% include partials/header %>  


<div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">GitHub</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Search <small class="text-muted"> now</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Author Avatar</li>
              <li>Repository Name</li>
              <li>Advanced Search</li>
              <li>Help center access</li>
            </ul>
            <a href="/github" class="btn btn-lg btn-block btn-outline-primary">Search now!</a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Bitbucket</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Coming <small class="text-muted"> soon</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Coming Soon</li>
            </ul>
            <a href="/github" class="btn btn-lg btn-block btn-outline-primary">Search now!</a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">GitLab</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Coming <small class="text-muted"> soon</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Coming Soon</li>
            </ul>
            <a href="/github" class="btn btn-lg btn-block btn-outline-primary">Search now!</a>
          </div>
        </div>
</div>


<% include partials/footer %>