<% var rootPath = '../'; %>
<%- include(rootPath + 'partials/header'); %>

<h1> Results </h1>




<div class="container">
	<%- include(rootPath + 'partials/pagination'); %>
	<div class="row">
		<div class="col-4">
			<form class="form-inline" method="GET">
			  <label class="mr-sm-2" for="inlineFormCustomSelect">Results per page</label>
			  <select name="selectpicker" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
			    <option selected>Choose...</option>
			    <option value="10">10</option>
			    <option value="15">15</option>
			    <option value="25">25</option>
			    <option value="35">35</option>
			  </select>

			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
			<% githubData["items"].forEach(function(item){ %>
			
				<div class="col">
					<div class="card">

						<img class="card-img-top" src="<%= item["owner"]["avatar_url"]%>" alt="Norway" style="width:50%">
						<div class="card-body">
						  <h5 class="card-title"><%= item["name"] %></h3>
							<p class="card-text"><%= item["description"] %></p>
							<p class="card-text">by <%= item["owner"]["login"]%></p>
							
					        <button class="btn btn-default"><a href="<%= item["html_url"]%>">Go to repository »</a></button>
					    </div>
					</div>
			    </div>
		    
			<% }) %>
	</div>
	<%- include(rootPath + 'partials/pagination'); %>
</div>


